* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: grey;
}

body {
    background-color: rgb(20, 23, 33);
}

html {
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
}

:root {
    /* bars lengths */
    --width-left-sidebar: 20rem;
    --height-top-bottom-sidebar: 7rem;
    --spacing-small: .8rem;
    --spacing-medium: 2rem;
    --spacing-large: 3rem;

    /* debug-colors */
    --color-01: rgb(144, 238, 100);
    --color-02: rgb(132, 177, 100);
    --color-03: rgb(235, 182, 100);
    --color-04: rgb(240, 48, 100);
    --color-05: rgb(5, 237, 100);
}

/* LEFT HEADER ################################################## */

.header {
    background-color: black;
    width: var(--width-left-sidebar);
    height: 100vh;
    padding-bottom: var(--height-top-bottom-sidebar);
    position: fixed;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}

.header ul,
.navbar ul {
    font-size: 1rem;
}

.header .playlists {
    flex: 1;
    overflow: auto;
}

.header a,
.header h2,
.install__app,
.login__name {
    color: grey;
    padding: var(--spacing-small) 0;
    padding-left: var(--spacing-medium);
    display: block;
}

.header .install__app {
    padding-bottom: var(--spacing-medium);
    border-bottom: 1px solid grey;
}

.login__name::before {
    content: "\f007";
}

.header .logo__name {
    position: relative;
    font-size: 2.2rem;
    color: white;
    font-weight: 600;
    letter-spacing: -.2rem;
    height: var(--height-top-bottom-sidebar);
    margin-top: var(--spacing-small);
    padding-left: 5.4rem;
}

.home::before {
    content: "\f015";
}

.home::before,
.search::before,
.library::before,
.create__playlist::before,
.logo__name::before,
.install__app::before,
.login__name::before {

    font-family: "fontAwesome";
    font-weight: 900;
    margin-right: 1rem;
    font-size: 1.6rem;
}

.search::before {
    content: "\f002";
}

.library::before {
    content: "\e0bb";
}

.create__playlist {
    font-size: 1rem;
}

.header h2,
.login__name {
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    padding-top: var(--spacing-medium);
    padding-bottom: calc(var(--spacing-small) / 2);
}

.create__playlist::before {
    content: "\2b";
    color: black;
    background-color: grey;
    padding: .4rem;
}

.logo__name::before {
    position: absolute;
    content: "\f1bc";
    font-size: 3rem;
    font-weight: 100;
    left: var(--spacing-medium);
}

.header .home {
    margin-top: -1.6rem;
}

.selected__nav {
    position: relative;
}

.selected__nav::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 2px;
    background-color: yellow;
    left: 50%;
    transform: translateX(-50%);
    bottom: -.4rem;
}

.selected__header {
    position: relative;
}

.selected__header::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 2px;
    background-color: yellow;
    left: 0;
    bottom: -.4rem;
}

.install__app::before {
    content: "\f019";
    font-size: 1.2rem;
    font-weight: 100;
    margin-left: .2rem;
}

.header .login__name {
    color: white;
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 700;
    padding-bottom: var(--spacing-small);
    padding-top: var(--spacing-small);
}

/* UPGRADE ################################################## */

.upgrade {
    z-index: 20;
    position: fixed;
    right: 0;
    left: var(--width-left-sidebar);
    height: var(--height-top-bottom-sidebar);
    background-color: rgba(9, 9, 17, 0.694);
}

.upgrade a {
    text-align: center;
    border: 1px solid white;
    padding: var(--spacing-small) var(--spacing-large);
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 4rem;
    position: absolute;
    right: 5rem;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

.player {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: var(--height-top-bottom-sidebar);
    background-color: rgb(37, 37, 37);
    padding: var(--spacing-small);
    z-index: 20;
    column-gap: var(--spacing-small);
}

/* PLAYER ################################################## */

.player .left {
    flex-shrink: 1;
    width: calc(var(--width-left-sidebar) - var(--spacing-small));
    display: flex;
    align-items: center;
    position: relative;
    color: grey;
    font-weight: 600;
}

.player .right {
    flex-shrink: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.svg__menu,
.svg__screen,
.svg__volume {
    flex: 1;
}

.slider__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 40%;
    cursor: pointer;
}

.slider__container:hover ::-webkit-slider-thumb {
    width: 1.4rem;
    height: 1.4rem;
}

.player .right>* {
    margin-right: var(--spacing-small);
    font-size: 1.1rem;
    color: white
}

.right .slider__container {
    flex: 8;
}

.slider {
    --value: 20;
    --min: 0;
    --max: 100;

    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    outline: none;
    background: linear-gradient(to right,
            #bcbcbc 0%,
            #bcbcbc calc((var(--value) - var(--min)) / (var(--max) - var(--min)) * 100%),
            #666666 calc((var(--value) - var(--min)) / (var(--max) - var(--min)) * 100%),
            #666666 100%);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #888;
    border-radius: 50%;
    cursor: pointer;
}

.player .center {
    text-align: center;
    color: white;
    flex: 1 2 0;
}

.player .center .top,
.player .center .bottom {
    height: 50%;
    gap: var(--spacing-medium);
    display: flex;
    justify-content: center;
    align-items: center;
}

.player .center .top .fa-shuffle,
.player .center .top .fa-rotate-right {
    font-size: 1.2rem;
}

.player .center .top .fa-backward-step,
.player .center .top .fa-forward-step {
    font-size: 1.4rem;
}

.player .center .top .fa-circle-play {
    font-size: 2.4rem;
}

.player .left .text {
    flex: 3;
    width: fit-content;
}

.player .left .text a:hover {
    text-decoration: underline;
}

.player .left h2 {
    color: white;
    font-size: 1.2rem;
}

.player .img {
    height: 100%;
    flex: 2;
    margin-right: var(--spacing-small);
    overflow: hidden;
}

.player .left .svgs{
    flex: 1 2 0;
    display: flex;
    justify-content: center;
}

.player .left .svgs .svg{
    
    display: inline;
}

.player img {
    height: 100%;
}

.fa-folder, .fa-heart{
    font-size: 1.2rem;
    margin: calc(var(--spacing-small) / 2);
}

.fa-list{
    margin-left: .4rem;
}

/* WRAPPER ################################################## */

section.section__wrapper {
    font-size: 2rem;
    margin-left: var(--width-left-sidebar);
    padding: 8rem var(--spacing-medium);
}

/* NAVBAR ################################################## */

.navbar ul * {
    display: inline-block;
}

.navbar a {
    font-weight: 600;
}

.navbar ul {
    text-align: center;
}

.navbar ul li {
    margin: 0 var(--spacing-small) var(--spacing-small);
}


/* RECENTLY PLAYED & CO. ################################################## */

.section {
    padding: var(--spacing-medium) 0;
}

.section a {
    position: relative;
    height: 100%;
    display: block;
}

.section>h1 {
    font-size: 1.7rem;
    color: white;
}

.section ul h3 {
    font-size: 1.2rem;
    color: white;
    margin-top: calc(var(--spacing-small) - .4rem);
}

.section ul p,
.section>p {
    color: grey;
    font-size: 1rem;
    font-weight: 600;
    margin-top: calc(var(--spacing-small) - .4rem);
}

.section ul:not(.navbar ul) {
    margin-top: var(--spacing-medium);
    display: flex;
}

.section ul li:not(.navbar ul li) {
    width: calc(100% /6);
    text-align: center;
    margin: .5rem;
}

.section img {
    width: 100%;
}

.popular__artists img {
    border-radius: 20rem;
}

/* HOVER EFFECT ################################################## */

.home:hover,
.search:hover,
.library:hover,
.header a:hover,
.navbar a:hover {
    color: white;
}

.create__playlist:hover::before {
    background-color: white;
}

.create__playlist:hover {
    color: white;
}

.upgrade a:hover {
    padding: calc(var(--spacing-small) + .2rem) calc(var(--spacing-large) + .4rem);
    right: 4.6rem;
}


.content__list a:hover img {
    filter: brightness(.5);
    transition: all .4s ease;
}

.content__list a .img {
    position: relative
}

.content__list a .img::before {
    font-family: "fontawesome";
    position: absolute;
    content: "\f002";
    font-size: 5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 5;
    opacity: 0;
    transition: all .4s ease;
    font-weight: 100;
}

.content__list a:hover .img::before {
    opacity: 1;
    transition: all .4s ease;
}

/* SCROLLBAR ################################################## */

.playlists::-webkit-scrollbar {
    width: 6px;
}

.playlists::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.playlists::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* RESPONSIVE ################################################## */

@media screen and (max-width: 768px) {
    .section ul li:not(.navbar ul li) {
        width: calc((100% /4) - 1rem);
    }

    .section ul:not(.navbar ul) {
        flex-wrap: wrap;
        row-gap: var(--spacing-medium);
    }

    .player .left::after {
        right: var(--spacing-small);
        top: 30%;
    }

    .player .left::before {
        top: 70%;
    }

}

@media screen and (max-width: 480px) {
    .section ul li:not(.navbar ul li) {
        width: calc((100% /2) - 1rem);
    }

    .player .center .top .fa-shuffle,
    .player .center .top .fa-rotate-right {
        font-size: 1rem;
    }

    .player .center .top .fa-backward-step,
    .player .center .top .fa-forward-step {
        font-size: 1.2rem;
    }

    .player .center .top .fa-circle-play {
        font-size: 2rem;
    }

    .player .center .top,
    .player .center .bottom {
        gap: var(--spacing-small);
    }
}


@media screen and (max-width: 450px) {

    .header .logo__name,
    .header .home,
    .header .search,
    .header .library,
    .header .login__name,
    .header .install__app {
        font-size: 0;
    }

    .header>h2,
    .header .create__playlist,
    .header .playlists * {
        display: none;
    }

    .logo__name::before {
        font-size: 2rem;
    }

    .header {
        width: 6rem;
    }

    section.section__wrapper {
        margin-left: 6rem;
    }

    .upgrade {
        left: 6rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .upgrade a {
        position: relative;
        top: unset;
        transform: none;
        right: unset;
    }
}

@media screen and (max-width: 415px) {
    .player .left {
        flex-shrink: 2;
    }

    .player .img{
        margin-right: 0;
    }

    .player .left .text {
        display: none;
    }
}

@media screen and (max-width: 350px) {
    .player .left .svgs{
        flex-wrap: wrap;
    }
}