*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: grey;
}

body{
    background-color: rgb(20, 23, 33);
}

html{
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
}

:root{
    /* bars lengths */
    --width-left-sidebar: 20rem;
    --height-top-bottom-sidebar: 7rem;
    --spacing-small: .8rem;
    --spacing-medium: 2rem;
    --spacing-large: 3rem;

    /* debug-colors */
    --color-01: rgb(144, 238, 100);
    --color-02: rgb(132, 177, 100);
    --color-03: rgb(235, 182, 100);
    --color-04: rgb(240, 48, 100);
    --color-05: rgb(5, 237, 100);
}

/* LEFT HEADER ################################################## */

.header{
    background-color: black;
    width: var(--width-left-sidebar);
    height: calc(100vh - var(--height-top-bottom-sidebar));
    position: fixed;
    font-weight: 600;
}

.header ul, .navbar ul{
    font-size: 1rem;
}

.header a, .header h2{
    padding: var(--spacing-small) 0;
    padding-left: var(--spacing-medium);
    display: block;
}


.header .logo__name{
    position: relative;
    font-size: 2.2rem;
    color: white;
    font-weight: 600;
    letter-spacing: -.2rem;
    height: var(--height-top-bottom-sidebar);
    margin-top: var(--spacing-small);
    padding-left: 5.4rem;
}


.home::before{
    content: "\f015";
}

.home::before, .search::before, .library::before, .create__playlist::before, .logo__name::before{
    
    font-family: "fontAwesome";
    font-weight: 900;
    margin-right: 1rem;
    font-size: 1.6rem;
}

.search::before{
    content: "\f002";
}

.library::before{
    content: "\e0bb";
}

.create__playlist{
    font-size: 1rem;
}

.header h2{
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    padding-top: var(--spacing-medium);
    padding-bottom: calc(var(--spacing-small) / 2);
}

.create__playlist::before{
    content: "\2b";
    color: black;
    background-color: grey;
    padding: .4rem;
}

.logo__name::before{
    position: absolute;
    content: "\f1bc";
    font-size: 3rem;
    font-weight: 100;
    left: var(--spacing-medium);
}

.header .home{
    margin-top: -1.6rem;
}

/* UPGRADE ################################################## */

.upgrade{
    position: fixed;
    right: 0;
    left: var(--width-left-sidebar);
    height: var(--height-top-bottom-sidebar);
    background-color: rgba(9, 9, 17, 0.694);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.upgrade a{
    border: 1px solid white;
    padding: var(--spacing-small) var(--spacing-large);
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 4rem;
}


.player{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: var(--height-top-bottom-sidebar);
    background-color: rgb(37, 37, 37);
}

/* WRAPPER ################################################## */

.wrapper{
    font-size: 2rem;
    width: calc(100% - var(--width-left-sidebar));
    height: 100rem;
    margin-left: var(--width-left-sidebar);
    padding: 8rem 2rem;
}

/* NAVBAR ################################################## */

.navbar ul *{
    display: inline-block;
}

.navbar a{
    font-weight: 600;
}

.navbar ul{
    text-align:center;  
}

.navbar ul li{
    margin: 0 var(--spacing-small);
}